// Variables de colores
$azul-electrico: #007BFF;
$purpura-oscuro: #5A189A;
$negro-azulado: #1B1B2F;
$verde-neon: #00E676;
$blanco: #FFFFFF;
$gris: #6C757D;

// Tipografía
$fuente-principal: Arial, sans-serif;

// Tamaños de fuente
$titulo-size: 2.5rem;
$subtitulo-size: 1.8rem;
$texto-size: 1rem;

// Espaciado
$espaciado-general: 20px;

// Sombra
$sombra-general: 0 0 15px rgba(0, 0, 0, 0.5);
