@import 'variables';
@import 'global';

.proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $espaciado-general;
  padding: $espaciado-general;
  text-align: center;

  .proyecto-card {
    background-color: $negro-azulado;
    border-radius: 10px;
    box-shadow: $sombra-general;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $espaciado-general;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 200px; // Altura fija para las imágenes
      object-fit: cover; // Ajusta la imagen para que todas tengan el mismo tamaño sin distorsión
      border-bottom: 4px solid $purpura-oscuro;
    }

    h3 {
      font-size: $subtitulo-size;
      color: $azul-electrico;
      margin: $espaciado-general 0;
      text-align: center;
    }

    p {
      font-size: $texto-size;
      color: $gris;
      padding: 0 $espaciado-general $espaciado-general;
      text-align: justify; // Justificación de texto
    }
  }
}
